header {
    background-color: #303D4E;
}

.hero {
    background-color: #58B99D;
}

.about {
    background-color: #58B99D;
}

.copyright {
    background-color: #2C3E50;
}

.star {
    position: relative;
}

.hero-image {
    width: 120px;
}

.star::before {
	content: '';
	display: block;
	height: 2px;
	width: 82px;
	background-color: white;
    position: absolute;
	top: 10px;
	left: 363px;
}

.star::after {
	content: '';
	display: block;
	height: 2px;
	width: 82px;
	background-color: white;
    position: absolute;
	top: 10px;
	right: 363px;
}

.star_dark {
    position: relative;
}

.star_dark::before {
	content: '';
	display: block;
	height: 2px;
	width: 82px;
	background-color: black;
    position: absolute;
	top: 10px;
	left: 363px;
}

.star_dark::after {
	content: '';
	display: block;
	height: 2px;
	width: 82px;
	background-color: black;
    position: absolute;
	top: 10px;
	right: 363px;
}

form button {
    background-color: #58B99D;
}

form * {
    border: none;
    border-bottom: 1px solid #80808066;
}

::placeholder {
    color: black;
}

footer > :first-child {
	background-color: #40536B;
}

footer > :last-child {
	background-color: #303D4E;
}

.green {
    color: #58B99D;
}

.copyright {
    font-size: 10px;
}

.facebook {
    padding: 8px 12px;
}