header {
    background-color: #303D4E;
}

.hero {
    background-color: #58B99D;
}

.about {
    background-color: #58B99D;
}

.copyright {
    background-color: #2C3E50;
}

.star {
    width: 40%;
	margin: 0 auto;
}

.hero-image {
    width: 120px;
}

.star::before {
	content: '';
	display: block;
	height: 2px;
	max-width: 82px;
	background-color: white;
	flex-grow: 1;
}

.star::after {
	content: '';
	display: block;
	height: 2px;
	max-width: 82px;
	background-color: white;
	flex-grow: 1;
}

.star_dark {
	width: 40%;
	margin: 0 auto;
}

.star_dark::before {
	content: '';
	display: block;
	height: 2px;
	max-width: 82px;
	background-color: black;
    flex-grow: 1;
}

.star_dark::after {
	content: '';
	display: block;
	height: 2px;
	max-width: 82px;
	background-color: black;
    flex-grow: 1;
}

form button {
    background-color: #58B99D;
}

form * {
    border: none;
    border-bottom: 1px solid #80808066;
}

::placeholder {
    color: black;
}

footer > :first-child {
	background-color: #40536B;
}

footer > :last-child {
	background-color: #303D4E;
}

.green {
    color: #58B99D;
}

.copyright {
    font-size: 10px;
}

.facebook {
    padding: 8px 12px;
}

.navbar-brand {
	font-size: 15px;
}


@media (min-width: 576px) {

}

@media (min-width: 768px) {
	.navbar-brand {
		font-size: 25px;
	}
 }

@media (min-width: 992px) {

}
